.custom-btn{
    text-align: center;
    font-size: 1.2rem;
    margin: 0.5rem;
    border: 2px solid var(--white);
    cursor: pointer;
    width: 70vw;
    border-radius: 0.35rem;
    padding: 0.5rem 1rem;
}
.custom-btn:hover{
    color: var(--theme);
    background-color: var(--white);

}